/*variable setup*/
:root{
    --text-area-height: 40px;
    --text-area-width: 15%;
}
.serie-desc-head:hover{
    color: gray
}
.clickable:hover{
    cursor: pointer;
}
.serie-desc-head{
    position: relative!important;
    display: inline-block!important;
    font-size: 1em;
}
.Settings{
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute!important;
    top:0;
    left:0;
    background: white;
    color:black!important;
}
.serie-desc{
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    width: 400px;
    bottom: 100%;
    left: 50%; 
    margin-left: -200px; /* Use half of the width (120/2 = 60), to center the tooltip */
    position: absolute;
    z-index: 1;
}
.serie-desc-head:hover .serie-desc{
    visibility: visible;
}
.season-episodes{
    background: black;
}
img{
    /* height: 200px;*/
    width: 100%; 
}
.top-right ul{
    list-style-type: none;
}
h3{
    font-size: 0.97em;
}
li{
    color: white;
}
ul li ul{
    list-style-type: none;
    text-align: left;
}
ul li ul:active{
    background: black;
}
.img-container{
    position: relative;
    text-align: initial;
    color: white;
}
.bottom-left{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.top-right{
    position: absolute;
    top: 8px;
    right: 16px;
}
.top-left{
    position: absolute;
    top: -15px;
    left: 5px;
}
/*main window*/
.summary-struct{
    display: flex;
    flex-flow: row wrap;
}
.serie-struct{
    flex-grow: 0;
    flex-shrink: 0;
    width: 20%;
}
#blocks{
    display: flex;
}
.src-struct{
    margin: 10px 0 0 auto;
    height: -webkit-fill-available;

}
.heading-src{
    margin: 0;
}
#src-containers{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

/* Buttons */
button, input[type="submit"], input[type="reset"] {
    margin: 10px;
    height: var(--text-area-height);
	background: none;
	color: inherit;
    border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Directory textareas*/
textarea {
    resize: none;
    height: var(--text-area-height);

  }
